body,
html {
    background-color: #BBE1FA;
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.sideBar {
  background-color: #1B262C;
  width: 300px;
  height: 100vh;
}
