body,
html {
    background-color: #1b262c;
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.sideBar {
  background-color: #1B262C;
  width: 300px;
  height: 100%;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  overflow-y: scroll;
}

.sideBarHeader {
  margin-left: 30px;
  padding: 5px 0;
  font-family: sans-serif;
  font-size: 17px;
  color: white;
  opacity: 0.2;
}

.sideBarItem {
  margin-left: 30px;
  padding: 5px 0;
  font-family: sans-serif;
  font-size: 15px;
  color: white;
  opacity: 0.8;
}

.sideBarItem.selected {
  opacity: 1.0;
}

.sideBarItem.selected > i {
  opacity: 1.0;
}

.sideBarItem.select > i.bookmark {
  color: #080;
}

.sideBarItem.select > i.favorite {
  color: #800;
}

.sideBarItem.select > i.bookmark {
  color: #080;
}

.sideBarItem:hover > i {
  opacity: 1.0;
}

.sideBarItem:hover > i {
  opacity: 1.0;
}

.sideBarItem i {
  opacity: 0.5;
  padding-right: 5px;
}

.sideBarItem > .badge {
  display: inline-block;
  margin-left: 5px;
  background: white;
  color: #1B262C;
  padding: 0 10px;
  border-radius: 20px;
  font-size: 0.8em;
}

#sideBarCategories {
  margin-top: 30px;
}

.rightMenuBar {
  position: absolute;
  display: inline-block;
  right: 15px;
  padding: 10px 20px;
}

.leftMenuBar {
  position: absolute;
  display: inline-block;
  left: 305px;
  padding: 10px 20px;
}

.menuButton {
  font-size: 20px;
  border-radius: 5px;
  display: inline-block;
  padding: 5px 15px;
  text-align: center;
  background-color: rgba(27, 39, 45, 0.7);
  color: rgba(255,255,255,0.7);
  margin: auto 5px;
  transition: background-color 0.25s, color 0.25s;
}

.menuButton.active {
  background-color: rgba(255,255,255,0.7);
  color: rgba(27, 39, 45, 0.7);
}

.menuButton:hover {
  color: #fff;
  background-color: #1B262C;
}

.no-left-radius {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.no-right-radius {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.no-left-margin {
  margin-left: 0;
}

.no-right-margin {
  margin-right: 0;
}

.main {
  height: calc(100vh - 30px);
  margin-left: 300px;
  overflow-y: scroll;
  background: #BBE1FA;
  border-top-left-radius: 5px;
  padding: 60px 30px 30px 30px;
  box-sizing: border-box;
}

#grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 10px;
}

#grid>div img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 5px;
  box-shadow: none;
  transition: all .25s;
}

#grid>div span {
  font-family: sans-serif;
  color: #1B262C;
  font-size: .8em;
  width: 100%;
  font-weight: 600;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

#grid>div img:hover {
  filter: brightness(1.2) contrast(1.0);
  transition: all .25s;
  transform: scale(1.03, 1.03);
}

#list>div {
  border-radius: 5px;
  background: rgba(0,0,0,0.1);
  margin-bottom: 5px;
  padding: 3px;
}

#list>div img {
  width: 30px;
  height: auto;
  border-radius: 5px;
}

#list>div span {
  margin-left: 10px;
  display: inline-block;
  font-size: 1em;
  font-family: sans-serif;
  color: #1B262C;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 50%;
  position: relative;
  top: -8px; /* what the hell is wrong with this DIV!? This should NOT be needed.*/
  left: 0;
}




/*----------------------------------------
Scrollbars
----------------------------------------*/
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
  background: none;
}

.main.hasScrollBar::-webkit-scrollbar {
    width: 10px;
}

.main.hasScrollBar::-webkit-scrollbar-track {
    background: none;
}

.main.hasScrollBar::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 10px 10px #1B262C;
    border: solid 3px transparent;
    border-radius: 20px;
    transition: box-shadow 0.25;
}

.sideBar.hasScrollBar::-webkit-scrollbar {
    width: 10px;
}

.sideBar.hasScrollBar::-webkit-scrollbar-track {
    background: none;
}

.sideBar.hasScrollBar::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 10px 10px #ddd;
    border: solid 3px transparent;
    border-radius: 20px;
    transition: box-shadow 0.25;
}

.waiting {
  background-color: rgba(27, 39, 45, 0.7);
  position: absolute;
  top: 0;
  left: 300;
  bottom: 0;
  right: 0;
  z-index: 5;
  display: none;
}

.waiting > .inner {
  padding: 0px 30px;
  width: 100%;
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: white;
  margin: auto;
  text-align: center;
}

.waiting > .inner > i {
  font-size: 30px;
  color: #BBE1FA;
  text-shadow: 0px 0px 8px rgba(27, 39, 45, 1), 0px 0px 8px rgba(27, 39, 45, 1);
}

.waiting > .inner > span {
  display: inline-block;
  padding-left: 10px;
  font-family: sans-serif;
  font-size: 30px;
  color: #fff;
  text-shadow: 0px 0px 8px rgba(27, 39, 45, 1), 0px 0px 8px rgba(27, 39, 45, 1);
}

/*----------------------------------------
Game Details
----------------------------------------*/
#game-info {
  position: absolute;
  height: calc(100vh - 30px);
  width: calc(100vw - 300px);
  overflow-y: scroll;
  background: #BBE1FA;
  border-top-left-radius: 5px;
  padding: 60px 30px 30px 30px;
  box-sizing: border-box;
}
