body,
html {
    background-color: #1b262c;
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    overflow: hidden;
    user-select:none;
}

.titlebar {
  height: 30px !important;
}

.container-after-titlebar {
  inset: 30px 0px 0px !important;
  position: absolute !important;
  overflow: hidden !important;
}

.sideBar {
  background-color: #1B262C;
  width: 300px;
  height: 100%;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  overflow-y: scroll;
}

.sideBarHeader {
  margin-left: 30px;
  padding: 5px 0;
  font-family: sans-serif;
  font-size: 17px;
  color: white;
  opacity: 0.2;
}

.sideBarItem {
  margin-left: 20px;
  margin-right: 20px;
  padding: 5px 10px;
  font-family: sans-serif;
  font-size: 15px;
  color: white;
  opacity: 0.8;
}

.sideBarItem.selected {
  opacity: 1.0;
}

.sideBarItem.selected > i {
  opacity: 1.0;
}

.sideBarItem.selected > i.bookmark {
  color: #0a0;
}

.sideBarItem.selected > i.all {
  color: #256fdd;
}

.sideBarItem.selected > i.favorites {
  color: #f55;
}

.sideBarItem.selected > i.recent {
  color: #e6ae1e;
}

.sideBarItem:hover > i {
  opacity: 1.0;
}

.sideBarItem:hover {
  background-color: rgba(255, 255, 255, .1);
  border-radius: 3px;
}

.sideBarItem i {
  opacity: 0.5;
  padding-right: 5px;
}

.sideBarItem > .badge {
  display: inline-block;
  float: right;
  background: white;
  color: #1B262C;
  padding: 0 10px;
  border-radius: 20px;
  font-size: 0.8em;
}

#sideBarCategories {
  margin-top: 30px;
}

#scummy-configure {
  position: absolute;
  bottom: 30px;
  left: 30px;
  display: inline-block;
}

.rightMenuBar {
  position: absolute;
  display: inline-block;
  right: 15px;
  padding: 10px 20px;
  z-index: 3;
}

.leftMenuBar {
  position: absolute;
  display: inline-block;
  left: 305px;
  padding: 10px 20px;
  z-index: 3;
}

.menuButton {
  font-size: 20px;
  border-radius: 5px;
  display: inline-block;
  padding: 5px 15px;
  text-align: center;
  background-color: rgba(27, 39, 45, 0.7);
  color: rgba(255,255,255,0.7);
  margin: auto 5px;
  transition: background-color 0.25s, color 0.25s;
  font-family: sans-serif;
}

.menuButton.bright {
  background-color: rgba(47, 59, 65, 0.7);
}

.menuButton.default {
  color: #cc0;
  background-color: rgba(191, 191, 0, 0.0);
  border: 1px solid #cc0;
}

.menuButton.default.active{
  color: rgba(255,255,255,0.7);
  background-color: rgba(191, 191, 0, 0.7);
  border: 1px solid #cc0;
}

.menuButton.default.active:hover {
  color: rgba(255,255,255);
  background-color: rgba(191, 191, 0);
  border: 1px solid #cc0;
}

.menuButton.default:hover {
  color: #dd1;
  background-color: rgba(191, 191, 0, 0.1);
}


.menuButton.bright:hover {
  color: white;
  background-color: rgba(57,69,75);
}

.menuButton.bright:active,
.menuButton.bright-red:active,
.menuButton.default:active {
  color: rgba(47,59,65);
  background-color: white;
}

.menuButton.bright-red {
  background-color: rgba(225, 0, 0, 0.7);
}

.menuButton.bright-red:hover {
  color: white;
  background-color: rgba(225,0,0);
}

.menuButton.bright-green {
  background-color: rgba(0, 225, 0, 0.7);
}

.menuButton.bright-green:hover {
  color: white;
  background-color: rgba(0,225,0);
}

.menuButton.active {
  background-color: rgba(255,255,255,0.7);
  color: rgba(27, 39, 45, 0.7);
}

.menuButton:hover {
  color: #fff;
  background-color: #1B262C;
}

.menuButton:active {
  color: #1B262C;
  background-color: #fff;
  transition: none;
}

.no-left-radius {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.no-right-radius {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.no-left-margin {
  margin-left: 0;
}

.no-right-margin {
  margin-right: 0;
}

.no-bg {
  background-color: none;
}

.main {
  height: calc(100vh - 30px);
  margin-left: 300px;
  overflow-y: scroll;
  background: #BBE1FA;
  border-top-left-radius: 5px;
  padding: 60px 30px 30px 30px;
  box-sizing: border-box;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 10px;
}

.grid>div img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 5px;
  box-shadow: none;
  transition: all .25s;
}

.grid>div span {
  font-family: sans-serif;
  color: #1B262C;
  font-size: .8em;
  width: 100%;
  font-weight: 600;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

.grid>div.disabled {
  opacity: 0.5;
  cursor: no-drop;
}

.grid>div.disabled img {
  filter: saturate(0);
}

.grid>div img:hover {
  filter: brightness(1.2) contrast(1.0);
  transition: all .25s;
  transform: scale(1.03, 1.03);
}

.grid>div img.active {
  filter: brightness(1.2) contrast(1.0);
  transition: all .25s;
  transform: scale(1.03, 1.03);
}

.grid>div.disabled img:hover {
  filter: saturate(0);
  transition: none;
  transform: none;
}

.grid>div.disabled img.active {
  filter: saturate(0);
  transition: none;
  transform: none;
}

.list>div {
  border-radius: 5px;
  background: rgba(0,0,0,0.1);
  margin-bottom: 5px;
  padding: 3px;
  transition: all .25s;
}

.list>div img {
  width: 30px;
  height: auto;
  border-radius: 5px;
  transition: all .25s;
}

.list>div span {
  margin-left: 10px;
  display: inline-block;
  font-size: 1em;
  font-family: sans-serif;
  color: #1B262C;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 50%;
  position: relative;
  top: -8px; /* what the hell is wrong with this DIV!? This should NOT be needed.*/
  left: 0;
}

.list>div.disabled {
  opacity: 0.5;
}

.list>div.disabled img {
  filter: saturate(0);
}

.list>div.game:hover {
  filter: brightness(1.2) contrast(1.0);
  transition: all .25s;
  transform: scale(1.01, 1.01);
  background: rgba(0,0,0,0.2);
}

.list>div.game:hover > img {
  transition: all .25s;
  transform: scale(1.15, 1.15);
}
.list>div.game.active {
  filter: brightness(1.2) contrast(1.0);
  transition: all .25s;
  transform: scale(1.01, 1.01);
  background: rgba(0,0,0,0.2);
}

.list>div.game.active > img {
  transition: all .25s;
  transform: scale(1.15, 1.15);
}

.list>div.game.disabled img:hover {
  filter: saturate(0);
  transition: none;
  transform: none;
}

.list>div.game.disabled img.active {
  filter: saturate(0);
  transition: none;
  transform: none;
}

.group-header {
  box-sizing: border-box;
  font-size: 40px;
  font-family: sans-serif;
  color: #1B262C;
  margin-bottom: 10px;
  margin-top: 30px;
}

.group-header.first {
  margin-top: 0 !important;
}

/*----------------------------------------
Scrollbars
----------------------------------------*/
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
  background: none;
}

.main.hasScrollBar::-webkit-scrollbar {
    width: 10px;
}

.main.hasScrollBar::-webkit-scrollbar-track {
    background: none;
}

.main.hasScrollBar::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 10px 10px #1B262C;
    border: solid 3px transparent;
    border-radius: 20px;
    transition: box-shadow 0.25;
}

.sideBar.hasScrollBar::-webkit-scrollbar {
    width: 10px;
}

.sideBar.hasScrollBar::-webkit-scrollbar-track {
    background: none;
}

.sideBar.hasScrollBar::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 10px 10px #ddd;
    border: solid 3px transparent;
    border-radius: 20px;
    transition: box-shadow 0.25;
}

.modal-body.hasScrollBar::-webkit-scrollbar {
    width: 10px;
}

.modal-body.hasScrollBar::-webkit-scrollbar-track {
    background: none;
}

.modal-body.hasScrollBar::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 10px 10px #ddd;
    border: solid 3px transparent;
    border-radius: 20px;
    transition: box-shadow 0.25;
}

.waiting {
  background-color: rgba(27, 39, 45, 0.7);
  position: absolute;
  top: 0;
  left: 300;
  bottom: 0;
  right: 0;
  z-index: 5;
  display: none;
}

.waiting > .inner {
  padding: 0px 30px;
  width: 100%;
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: white;
  margin: auto;
  text-align: center;
}

.waiting > .inner > i {
  font-size: 30px;
  color: #BBE1FA;
  text-shadow: 0px 0px 8px rgba(27, 39, 45, 1), 0px 0px 8px rgba(27, 39, 45, 1);
}

.waiting > .inner > span {
  display: inline-block;
  padding-left: 10px;
  font-family: sans-serif;
  font-size: 30px;
  color: #fff;
  text-shadow: 0px 0px 8px rgba(27, 39, 45, 1), 0px 0px 8px rgba(27, 39, 45, 1);
}

#context-menu {
  display: inline-block;
  position: absolute;
  background-color: rgba(27, 39, 45);
  box-shadow: 0px 3px 8px 3px rgba(0,0,0,0.7);
  top: 0;
  left: 0;
  z-index: 5;
  color: white;
  display: none;
  padding: 5px;
  border-radius: 5px;
}

#context-menu > .menu-item,
#context-menu > .launch-items > .menu-item {
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 1.2em;
  font-family: sans-serif;
}

#context-menu > .play,
#context-menu > .launch-items > .play {
  white-space: nowrap;
  color: #0c0;
  transition: all .25s;
  margin-bottom: 5px;
}

#context-menu > .manage {
  color: #ccc;
  transition: all .25s;
}

#context-menu > .favorite {
  color: #f55;
  transition: all .25s;
}

#context-menu > .favorite.active {
  color: #f55;
  transition: all .25s;
}

#context-menu > .play:hover,
#context-menu > .launch-items > .play:hover {
  background-color: #0c0;
  color: rgba(27, 39, 45);
}

#context-menu > .manage:hover {
  background-color: #ccc;
  color: rgba(27, 39, 45);
}

#context-menu > .favorite:hover {
  background-color: #f55;
  color: rgba(27, 39, 45);
}

#context-menu > .favorite.active:hover {
  background-color: #f55;
  color: rgba(27, 39, 45);
}

#context-menu > .divider {
  background-color: #000;
  border-radius: 5px;
  height: 2px;
  margin-bottom: 5px;
}

/*----------------------------------------
Game Details
----------------------------------------*/
#game-info {
  position: absolute;
  top: 0;
  left: 300;
  display: inline-block;
  height: calc(100vh - 30px);
  width: calc(100vw - 300px);
  overflow-y: scroll;
  background: #1b262c;
  padding: 30px 30px 30px 30px;
  box-sizing: border-box;
  z-index: 3;
  display: none;
}

.game-info-title {
  box-sizing: border-box;
  font-size: 40px;
  font-family: sans-serif;
  color: white;
  margin-bottom: 30px;
}

.game-info-boxart {
  float: left;
  display: inline-block;
  width: 250px;
  margin-right: 30px;
}

.game-info-boxart > img {
  border-radius: 5px;
  width: 250px;
  height: auto;
}

#game-info-close {
  position: absolute;
  right: 30px;
  top: 30px;
}

.launch-config {
  width: calc(100% - 280px);
  float: right;
  box-sizing: border-box;
  display: inline-block;
 }

.game-info-wrapper {
  margin-bottom: 10px;
}

.game-info-version {
  font-size: 20px;
  font-weight: bold;
  font-family: sans-serif;
  color: #BBE1FA;
}

.game-info-favorite {
  font-size: 20px;
  border-radius: 5px;
  display: inline-block;
  padding: 5px 15px;
  text-align: center;
  border: 1px solid #f55;
  box-sizing: border-box;
  color: #f55;
  width: 250px;
  margin: 10px 30px 0 0;
  font-family: sans-serif;
  transition: background-color 0.25s, color 0.25s;
}

.game-info-favorite:hover {
  background-color: rgba(255, 96, 96, .1);
  transition: background-color 0.25s, color 0.25s;
}

.game-info-favorite:active,
.game-info-favorite.active:active {
  background-color: white !important;
  color: rgba(27, 39, 45);
  border: 1px solid white;
  transition: none;
}

.game-info-favorite.active {
  font-size: 20px;
  border-radius: 5px;
  display: inline-block;
  padding: 5px 15px;
  text-align: center;
  border: 1px solid #f55;
  background-color: #f55;
  box-sizing: border-box;
  color: #fff;
  width: 250px;
  margin: 10px 30px 0 0;
  font-family: sans-serif;
  transition: background-color 0.25s, color 0.25s;
}

.game-info-favorite.active:hover {
  border: 1px solid #f77;
  background-color: #f77;
  box-sizing: border-box;
  transition: background-color 0.25s, color 0.25s;
}

hr {
  opacity: 0.2;
  border-top: 1px solid white;
  border-bottom: none;
}

/*----------------------------------------
Dialog
----------------------------------------*/
.modal {
  background-color: rgba(27, 39, 45, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
  display: none;
}

.modal-body > hr {
  margin-top: 30px;
  margin-left: 10px;
  opacity: 0.2;
  border-top: 1px solid white;
  border-bottom: none;
}

.modal > .modal-wrapper {
  padding: 0px 0px;
  position: absolute;
  display: inline-block;
  width: 500px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: white;
  margin: auto;
  background-color: rgba(27, 39, 45);
  box-shadow: 0px 3px 8px 3px rgba(0,0,0,0.7);
  border-radius: 5px;
}

.modal > .modal-wrapper > .modal-title {
  background-color: black;
  font-size: 1.1em;
  text-align: center;
  color: #BBE1FA;
  font-weight: bold;
  font-family: sans-serif;
  padding: 20px 30px;
}

.modal > .modal-wrapper > .modal-body > .modal-boxart {
  display: inline-block;
  position: relative;
  left: 50%;
  margin-top: 30px;
  transform: translateX(-50%);
}

.modal > .modal-wrapper > .modal-body > .modal-boxart > img {
  border-radius: 3px;
  height: 100px;
  width: auto;
}

.modal > .modal-wrapper > .modal-body > .modal-message {
  font-size: 1.3em;
  color: white;
  font-family: sans-serif;
  padding: 30px 30px;
  text-align: center;
}

.modal > .modal-wrapper > .modal-body {
  max-height: 70vh;
  overflow-y: scroll;
}

.modal > .modal-wrapper > .modal-footer {
  position: relative;
  display: inline-block;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px 30px;
}

.no-float {
  float: none !important;
}

.modal-button {
  float: right;
  width: 60px;
  padding: 10px 30px;
  font-size: 1em;
  color: white;
  font-family: sans-serif;
  margin-left: 10px;
  text-align: center;
  border-radius: 5px;
  transition: all .25s;
  cursor: default;
}

.modal-button:active {
  background-color: white;
  color: rgba(27, 39, 45);
  transition: none;
}


.modal-button.dark {
  background-color: rgba(07, 19, 25);
}

.modal-button.dark:hover {
  background-color: rgba(17,29,35);
}

.modal-button.bright {
  background-color: rgba(47, 59, 65);
}

.modal-button.bright:hover {
  background-color: rgba(57, 69, 75);
}

.modal-button.dark:active,
.modal-button.bright:active {
  background-color: white;
  color: rgba(27, 39, 45);
}

.modal-secondary {
  font-weight: bold;
  font-family: sans-serif;
  color: #BBE1FA;
}

.modal-option-category {
  margin: 30px 30px 0 30px;
  font-size: 20px;
  font-weight: bold;
  font-family: sans-serif;
  color: #BBE1FA;
}

.modal-option {
  margin: 10px 30px 0 30px;
  font-size: 16px;
  font-family: sans-serif;
  color: white;
}

.modal-option.indent {
  margin-left: 60px;
}

.modal-option > table {
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
  font-family: sans-serif;
  color: white;
}

.modal-option  td {
  width: 50%;
}

.modal-option td > select {
  width: 100%;
}

.modal-option > table > tr > td > .audio-option-slider {
  width: 65%;
  display: inline-block;
  box-sizing: border-box;
}

.modal-option > table > tr > td > .audio-option-value {
  width: 25%;
  display: inline-block;
  margin-left: 10px;
  box-sizing: border-box;
}

.disabled-option {
  opacity: 0.3;
  pointer-events: none;
}

.config-error{
  color: #f00;
}

.clear {
  clear: both;
}

.game-name {
  font-size: 2em;
  display: inline-block;
  margin: 10px 0 40px 0;
  width:100%;
}

.game-name > small {
  font-size: .5em;
  color: #ccc;
  display: inline-block;
  margin: 10px 0 40px 0;
  width:100%;
}

.warning-color {
  color: #ffa100;
}

.favorite-pink {
  color: #f55;
}
